
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
}


table {
  width: 100%;
}

.table-head {
  background-color: #009688;
  color: white;
}
.table-head th {
  padding: 10px;
}

.table-data td {
  text-align: center;
  padding: 12px;
  border-bottom: 1px solid grey;
}

.Paginatin {
  margin: 60px 0;
  text-align: center;
}
button {
  background: #009688;
  color: white;
  font-size: 14px;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 8px;
}

span {
  background: #009688;
  color: white;
  font-size: 14px;
  border: none;
  padding: 16px 20px;
  border-radius: 8px;
  margin: 0 16px;
}